.custom-modal {
    width: 50%;
    height:50%;
}

.preview-img{
	width:50%;
	height:50%
}

.preview-modal_align{
	text-align:center;
	vertical-align:middle;
}
.operation_btn{
	min-width: 220px;
}
.resourcetoolbar{
	margin-top: 5px;
	margin-bottom: 5px;
}
.floatr{
	float:right;
}