.operation_btn{
  min-width:330px;
}
.searchbar{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.marginl{
	margin-left: 3px;
}

.custom-modal {
    width: 40%;
    height: 40%;
}

.preview-modal_align{
	text-align:center;
	vertical-align:middle;
}